<?php

declare(strict_types=1);

// TODO: Decide which option to use

// Option 1
// ------------------------------------
use Brnshkr\Config\PhpCsFixer;

return PhpCsFixer::getConfig(/* ... */)
    // ->setRules([
    //     // ...
    // ])
;
// ------------------------------------

// Option 2
// ----------------------------------------------------------------------------------
// return include __DIR__ . '/../vendor/brnshkr/config/src/php/PhpCsFixer.php';
// ----------------------------------------------------------------------------------

// Option 3
// -------------------------------------------------------------------------------------
// use PhpCsFixer\Config;
//
// /**
//  * @var Config
//  */
// $config = include __DIR__ . '/../vendor/brnshkr/config/src/php/PhpCsFixer.php';
//
// return $config
//     // ->setRules([
//     //     //...
//     // ])
// ;
// -------------------------------------------------------------------------------------
